@font-face {
  font-family: 'gandhi_bold';
  src: url('fonts/gandhi_bold/GandhiSerif-Bold-webfont.eot');
  src: url('fonts/gandhi_bold/GandhiSerif-Bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/gandhi_bold/GandhiSerif-Bold-webfont.woff') format('woff'),
       url('fonts/gandhi_bold/GandhiSerif-Bold-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'gandhi_regular';
  src: url('fonts/gandhi_regular/GandhiSerif-Regular-webfont.eot');
  src: url('fonts/gandhi_regular/GandhiSerif-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/gandhi_regular/GandhiSerif-Regular-webfont.woff') format('woff'),
       url('fonts/gandhi_regular/GandhiSerif-Regular-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'ostrich_sans';
  src: url('fonts/ostrich_font/ostrich-bold-webfont.eot');
  src: url('fonts/ostrich_font/ostrich-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/ostrich_font/ostrich-bold-webfont.woff') format('woff'),
       url('fonts/ostrich_font/ostrich-bold-webfont.ttf') format('truetype');
}




@charset "UTF-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/* Mobile Layout: 480px and below. */
* {
	text-shadow: none;
	outline: none;
}

.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
	background: #fff;
}

.clear {
  width: 100%;
  clear: both !important;
  display: inline-block; 
}


/*.styled-select { 
	border: 1px solid #B3B2B2;
	background: url(../Images/down.png) no-repeat right #B3B2B2;
	z-index: 10;
	overflow: hidden;
	border-radius: 8px;

	padding-right: 2%;
}*/

.buttons_vieworder {
	margin-top: 5%;
}

.filter_selected {
	width: 96%;
	padding: 1%;
	background: transparent;
	border: none;
	color: #444;
	align-items: flex-start;
	box-sizing: inherit;
	font-family: sans-serif;
	font-weight: lighter;
	box-shadow: none;
	-webkit-appearance: none;
	padding-left: 2%;
	outline: none;
	cursor: pointer;
}

.ui-page-theme-a a:visited, html .ui-bar-a a:visited, html .ui-body-a a:visited, html body .ui-group-theme-a a:visited {
	color: #efefef

}

.username { 
	color: #ccc;
}

.ui-mobile .ui-page-active { 
	overflow-x: none;
}

.ui-page-theme-a a{
	font-weight: normal;
}

.ui-select {
margin-top: 0em;
margin-bottom: 0em;
}

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 87.9666%;
	padding-left: 1.5166%;
	padding-right: 1.5166%;
	height: auto;
}
#Header {
	clear: left;
	float: left;
	width: 100%;
	/*height: 100px;*/
}

#header_top { 
	padding: 2% 0%;
	/*height: 20px;*/
	width: 100%;
	background-color: #606473;
	clear: both;
}

#header_top h1 {
	font-family: sans-serif;
	font-weight: lighter;
	font-size: 90%;
	color: #efefef; 
	margin-left: 2%;

}
#heading h2 { 
	font-family: sans-serif;
	font-weight: lighter;
	font-size: 85%;
	margin-top: 0.8%;
	padding-left: 1.2%;
	color: #666;
}

#heading h3 {
	font-family: sans-serif;
	font-weight: lighter;
	font-size: 1.3em;
	margin-top: 1%;
	color: #999;
	margin-left: 1.2%;
	float: left;
}



#heading img {
	width: 30px;

}

.title {
	font-family: sans-serif;
	font-weight: lighter;
	font-size: 2.6em;
	margin-bottom: 8%;
	color: #888;
	margin-left: 2%;
	margin-top: -5%
}

.title_print {
	display: none;
}

.title h3 {
	float: left;
}

.activate_tablet {
	margin-left: 0;
	margin-top: 0; 
	margin-bottom: 10%;
	padding-top: 100px;
}

#active_tablet {
	color: #94C01E;
}

#welcome_link_activation {
	padding: 5% 0;
	border: 0;
	outline: 0;
	-webkit-border-radius: inherit;
	border-bottom-radius: inherit;
	-webkit-appearance: none;
	-moz-appearance: none;
	cursor: pointer;
	z-index: 2;
	background: #94C01E;
	color: #efe;
	font-family: sans-serif;
	font-weight: lighter;
	text-align: center;
	box-shadow: none;
	text-shadow: none;
	border-radius: 4px;
	margin-top: 25%;
}

#welcome_link_activation > a {
	text-decoration: none;
	color: #efe;

}

#welcome_link_activation:hover > a {
	color: #174E62;
}


.select_activation { 
	font-size: 1.5em; 
}

.messages_activation { 
	margin-bottom: 10%;
}

.messages {
	padding-left: 2%;
	margin: 0 0 5% 0;
}

.error_message_activation {
	font-family: sans-serif;
	font-weight: lighter; 
	color: #bf134e;
	font-size: 1.5em;
	text-transform: uppercase;
	margin-bottom: 5%;
}

.success_message_activation {
	font-family: sans-serif;
	font-weight: lighter; 
	color: #94C01E;
	font-size: 1.5em;
	text-transform: uppercase;
	margin-bottom: 5%;

}

.normal_message_activation {
	font-family: sans-serif;
	font-weight: lighter;
	font-size: 1.2em; 
	color: #4d4d4d;
	/*width: 90%;*/
	margin: 0 auto;

}



.titles {
	font-size: 16px;
	font-weight: bold;
	width: 100%;
	margin-bottom: 10px;
	margin-top: 2%;
}

#logo {
	text-align: center;
	margin: 0 auto;
	width: 100%; 
	padding-top: 100px;
}

#logo img {
	width: 70%;
}

#orderno {
	float: right;
	width: 100%;
	position: relative;
}

#orderno p {
	font-family: sans-serif;
	font-weight: lighter;
	/*float: right;*/
	margin-bottom: 10%;
	font-size: 1.3em;
	color: #666;
}
/*.head01 {
	float: left;
	height: 100px;
	width: 60%;
	display: inline-block;
}*/
.head02 {
	/*display: inline;*/
	font-size: 75%;
	float: right;
	border-radius: 20px; 
	background-color: #bf134e;
	padding: 1%;

	margin-top: 1.5%;
	/*width: 40%;*/
	/*text-align: right;*/
	/*height: 10px;*/
	/*padding-top: 80px;*/
}

.head02 h6 { 
	color: #efefef;
	font-family: sans-serif;
	font-weight: lighter;
	margin: 0;
	text-align: center;
	margin-top: 0.5%;

}

.f01 {
	display: inline-block;
	float: left;
	height: 50px;
	width: 100%;
	margin-top: 10px;
}

.f01 h6 {
	font-family: sans-serif;
	font-weight: lighter;
	font-size: 80%;
	padding-top: 20.8%;
	padding-left: 1%;
	color: #666;
	line-height: 18px;
}

#footer_color { 
	background-color: #606473;
	clear: both;
	padding: 1%;
	margin-top: 5%;
}

#footer_color h6 {
	font-family: sans-serif;
	font-weight: lighter;
	font-size: 75%;
	color: #efefef; 
	padding: 0;
}

.pm_font { 
	font-family: 'ostrich_sans';
	font-size: 130%;
	font-weight: lighter;
}

#login {
	text-align: center;
	/*clear: left;*/
	/*float: left;*/
	height: auto;
	width: 100%;
	/*padding-left: 10%;*/
}
.buttons .button {
	width: 76%;
	margin-top: 5%;
	font-family: sans-serif;
	font-weight: lighter;
	font-size: 200%;
	background: #94C01E;
	border: 1px solid #94C01E;
	color: #efefef;
	padding: 2% 3% 1%;
	border-radius: 8px;
	outline: none;
}

.buttons .button:hover, .buttons .button:focus {
  background:#94C01E;

  /* CSS3 Styling */
  background:-moz-linear-gradient(top, #94C01E, #789035);
  background:-webkit-gradient(linear, left top, left bottom, from(#94C01E), to(#789035));
  -moz-box-shadow:0px 0px 1px #94C01E;
  -webkit-box-shadow:0px 0px 1px #94C01E;
  box-shadow:0px 0px 1px #94C01E;
}	

.buttons .button:active
{		
  outline: none;

  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;		
}

.buttons .button:-moz-focus-inner
{
    border: none;
}

.continue_button .filter_continue {
	cursor: pointer;
	width: 100%;
	margin-top: 5%;
	font-family: sans-serif;
	font-weight: lighter;
	font-size: 1.2em;
	background: #94C01E;
	border: 1px solid #94C01E;
	color: #efe;
	padding: 5% 0;
	border-radius: 4px;
	outline: none;
}


.continue_button .ui-btn {
	background: #94C01E;
	color: #efe;
	font-family: sans-serif;
	font-weight: lighter;
	box-shadow: none;
	text-shadow: none;
	margin-top: 5%;
	padding: 5% 0;
}


.continue_button .ui-btn:hover { 
	background: #94C01E;
	box-shadow: none;
	text-shadow: none;
  	color: #3C5C22;
}

.print_button .filter_continue {
	cursor: pointer;
	width: 100%;
	margin-top: 5%;
	font-family: sans-serif;
	font-weight: lighter;
	font-size: 1.2em;
	background: #2980B9;
	border: 1px solid transparent;
	margin-left: -1%;
	color: #fff;
	padding: 5% 0;
	border-radius: 4px;
	outline: none;
}


.print_button .ui-btn {
	background: #94C01E;
	color: #efe;
	font-family: sans-serif;
	font-weight: lighter;
	box-shadow: none;
	text-shadow: none;
	margin-top: 5%;
	padding: 5% 0;
}


.print_button .ui-btn:hover { 
	background: #94C01E;
	box-shadow: none;
	text-shadow: none;
  	color: #3C5C22;
}


.skip_button .filter_continue {
	cursor: pointer;
	width: 100%;
	font-family: sans-serif;
	font-weight: lighter;
	font-size: 1.2em;
	background: #4273AB;
	border: 1px solid #94C01E;
	color: #efefef;
	border-radius: 4px;
	outline: none;
}


.skip_button .ui-btn {
	background: #4273AB;
	color: #efe;
	font-family: sans-serif;
	font-weight: lighter;
	box-shadow: none;
	text-shadow: none;
	margin-top: 2%;
	padding: 5% 0;
}


.skip_button .ui-btn:hover { 
	background: #4273AB;
	color: #57B4D9;
	box-shadow: none;
	text-shadow: none;
}


.update_button .filter_continue {
	cursor: pointer;
	padding: 5% 0 !important;
	width: 100% !important;
	font-family: sans-serif;
	font-weight: lighter;
	font-size: 1.2em;
	border: 1px solid transparent !important;
	/* background: #1A2338; */
	background: #3F4452;
	/* border: 1px solid #1A2338; */
	color: #fff;
	border-radius: 4px;
	outline: none;
}


.update_button .ui-btn {
	background: #3F4452;
	color: #fff;
	font-family: sans-serif;
	font-weight: lighter;
	box-shadow: none;
	text-shadow: none;
	margin-top: 2%;
	padding: 5% 0;
}


.update_button .ui-btn:hover { 
	background: #3F4452;
	color: #fff;
	box-shadow: none;
	text-shadow: none;
}




.cancel_button .ui-btn { 
	background: #C5194C; 
	color: #efe; 
	font-family: sans-serif;
	font-weight: lighter; 
	box-shadow: none; 
	text-shadow: none;
	padding: 5% 0;
}


.cancel_button .ui-btn:hover {
	background: #C5194C;
	text-shadow: none;
	box-shadow: none;
	/*color: #F7CAD6;*/
	color: #fff;
}

.display_order {
	padding-left: 2%;
	margin-top: 3%;
	font-family: sans-serif;
	font-weight: lighter;
}

.display_order h2 {
	font-size: 1.15em;
	color: #4D85C4;
	margin-bottom: 5%;
}

.success_order {
	padding-left: 2%;
	font-family: sans-serif;
	color: #666;
	font-weight: lighter;
}

.success_activation {
	padding-left: 2%;
}

.success_activation h3 {
	font-family: sans-serif;
	font-weight: lighter;
	font-size: 2.3em; 
	color: #94C01E;
	margin-bottom: 3%;
}

.success_activation h4 {
	font-family: sans-serif;
	font-weight: bold;
	font-size: 1.5em; 
	color: #4D4D4F;
	margin-bottom: 3%;
}

.success_activation h5 {
	font-family: sans-serif;
	font-size: 1em;
	color: #666;
	font-weight: lighter;
}

.activation_message { 
	color: #666; 
	font-family: sans-serif;
	font-weight: lighter;
	padding-left: 2%;

}

.activation_message h3 { 
	color: #6F7780;
}

.activation_message h2 {

	font-family: sans-serif;
	font-weight: lighter;
	color: #94C01E	;
	font-size: 2.5em;
	margin: 5% 0;

}

.activation_message a { 

	text-decoration: none;
	border-radius: 20px;
	background-color: #B3B2B2;
	color: #efefef;
	font-size: 0.9em;
	font-family: sans-serif;
	font-weight: lighter;
	padding: 2% 6%;
	display: inline-table;
	margin-bottom: 2%;
	margin-top: 3%;
}

.buttons .button2 {
	height: 50px;
	width: 35%;
	margin-top: 10px;
	margin-left:10%;
	float:left;
}
.buttons .button3 {
	width: 35%;
	margin-top: 5%;
	margin-left: 10%;
	float: left;
	background: #94C01E;
	border: 1px solid #94C01E;
	font-family: sans-serif;
	font-weight: lighter;
	color: #efefef;
	padding: 2% 0%;
	cursor: pointer;
}

.button4_add, .button4_edit, .button4_delete {
	width: 28%;
	margin-top: 3%;
	margin-left: 2%;
	float: left;
	background: #94C01E;
	border: 1px solid #94C01E;
	font-family: sans-serif;
	font-weight: lighter;
	color: #efefef;
	padding: 2% 0%;
	cursor: pointer;
}

.button4_add {
	margin-left: 6%;
}

.button4_edit { 

	background:#B3B2B2;
	border: 1px solid #B3B2B2;
}

.button4_delete { 

	background:#C5194C;
	border: 1px solid #C5194C;
}

.buttons .update { 
	width: 35%;
	margin-top: 5%;
	margin-left: 10%;
	float: left;
	background: #B3B2B2;
	border: 1px solid #B3B2B2;
	font-family: sans-serif;
	font-weight: lighter;
	color: #efefef;
	padding: 2% 0%;
	cursor: pointer;
}

.buttons .button4 {
	height: 50px;
	width: 28%;
	margin-top: 10px;
	margin-left:4%;
	float:left;
}

.search_box {
	height: 50px;
	width: 100%;
	margin-bottom: 5%;
	float:left;
	/*border: 1px solid #555;*/
}

#orderfilter { 
	margin-left: 2%;
}

#orderfilter p {
	font-family: sans-serif; 
	font-size: 1em; 
	font-weight: lighter;
	/*margin-left: 2%;*/
	margin-top: 10%;
	margin-bottom: 2%;
	color: #666;

}

.fields .field1 {
	width: 70%; 
	font-family: sans-serif;
	font-weight: lighter;
	font-size: 200%;
	padding: 2% 3%;
	outline: none;
	margin-top: 3%;
	background-color: #6F7780;
	color: #efefef; 
  border: 2px solid #6F7780;

  /* Round Borders */
  border-radius: 8px;
  -moz-border-radius: 8px; /*Round Borders for Mozilla */
  -webkit-border-radius: 8px; /*Round Borders for Chrome and Safari */

  text-align: center;
}


.fields .field2 {
	height: 50px;
	width: 68%;
	padding-top: 10px;
	padding-left: 2%;
	margin-top: 10px;
	float:left;
}
.fields .field3 {
	height: 50px;
	width: 33%;
	padding-top: 10px;
	margin-top: 10px;
	float: left;
}
.fields .field4 {
	/*height: 50px;*/
	width: 60%;
	/*padding-top: 10px;*/
	/*margin-top: 10px;*/
	/*float: left;*/
}

#main_content { 
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	height: auto;
	margin-top: 20%;
}

#Navigation {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	height: auto;
}
#navList {
	display: inline-block;
	height: auto;
	list-style-type: none;
	width: 100%;
	float:left;
	padding:0;
}

a#nav1 {
	float: left;
	padding: 4.5% 1%;
	width: 42%;
	margin-left: 2.25%;
	margin-bottom: 2.5%;
	margin-top: 2.5%;
	background-color: #B3B2B2;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-decoration: none;
}

a#nav1:hover { 

	background-color: #868686;

}

a#nav1 li {
	font-size: 1.3em;
	font-family: sans-serif;
	font-weight: lighter;
	color: #efefef;
	text-align: center;

}


#top_action_bar { 
	border-bottom: 1px solid #ccc;
	position: relative;
	margin-top: 3%;
	margin-bottom: 5%;
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: inline-block;
	height: auto;
	padding: 1% 0% 2%;

}

.gaylord_name {
	float: left;
	width: 70%;
	margin-left: 2%;

}

.logout_button {
	float: right;
	width: 13%;
	margin-top: 1%;
}

.logout_button a { 
	text-decoration: none;
	border-radius: 6px;
	background: #bf134e;
	padding: 12% 14%;
	color: #efefef;
	font-family: sans-serif;
	font-size: .8em;
	font-weight: lighter;
}

.logout_button a:hover {
	color: #bf134e;
	background:#efefef;
}


.register_button {
	float: right;
	width: 16%;
	margin-bottom: 2%;
}

.register_button a { 
	text-decoration: none;
	border-radius: 6px;
	background: #4D4D4F;
	padding: 12% 14%;
	color: #efefef;
	font-family: sans-serif;
	font-size: .8em;
	font-weight: lighter;
}

.register_button a:hover {
	color: #4D4D4F;
	background:#eeeeee;
}

.gaylord_name h3 {
	font-family: 'gandhi_regular';
	font-size: 1.5em;
	color: #bf134e;
	letter-spacing: -1px;
}

.gaylord_name h3 span {
	font-size: 0.7em;
	vertical-align: super;
}

/*a#nav1:link, a#nav1:active, a.nav1#visited {
	display: inline-block;
	float: left;
	height: 85px;
	color: #FFF;
	padding-top: 15px;
	width: 25%;
	margin-left:6.25%;
	margin-bottom:25px;
	background-color: #0099FF;
	border-bottom: 1px solid #FFF;
	-moz-border-radius: 10px;
	border-radius: 10px;
	text-align: center;
}*/

.orderholder, .ActiveTabReport {
	clear: both;
	float: left;
	margin-left: 2%;
	padding: 1%;
	width: 96%;
	margin-top: 5%;
	border: 1px solid #aaa;
	margin-bottom: 2%;
	border-bottom: 5px solid #4273AB;
	padding-bottom: 5%;
	padding-top: 5%;
	border-radius: 8px 8px 0px 0px;
}
.orderholder form .ol_title {
	width: 100%;
	margin-bottom: 5%;
}

.orderholder form .ol_title a {
	font-family: sans-serif;
	font-weight: lighter;
	font-size: 1.3em;
	text-decoration: none;
	color: #777;
	/* text-transform: lowercase; */
	margin-left: 2%;
	/*border: 5px solid #4273AB;*/
	/*padding: 1% 2%;*/
	border-radius: 10px;
}

.ol_title a span {
	color: #666;
	font-weight: bold;
	border-bottom: 5px solid #4273AB;
	font-size: 1.4em;
}

#order_information { 
	float: left;
	width: 48%;
	display: inline-table;
	padding-left: 2%;
}

.filter_selection_actions {
	/*padding-left: 5%;*/
	float: right;
	width: 48%;
	display: inline-table;
	/*margin-top: -5%;*/
} 

.filter_selection_actions .ui-select {
	position: relative;
	margin: 3% 0 6% 0;
}

.ui-select .ui-btn>span:not(.ui-li-count) {
	color: #777;
	text-align: left;
}

.filter_selection_actions .ui-select :nth-child(0) {
	margin-top: 0;
}

#order_filter .ui-btn select{ 
	border: 1px solid #B3B2B2;
	/*background: url(../Images/down.png) no-repeat right #B3B2B2;*/
	z-index: 10;
	overflow: hidden;
	border-radius: 8px;
	padding-right: 2%;
}



.payment {
	/*margin-left: 15%;*/
}

#customerFrm {
	float: left;
	height: auto;
	width: 100%;
	margin-top: 5%;
	background-color: #efefef;
	padding-bottom: 5%;
	border-bottom: 4px solid #6F7780;
	/*border-bottom: 4px solid #E49837;*/
	border-radius: 8px 8px 0px 0px;
}

#greyline {
	width: 100%;
	height: 1px;
	background-color: #ccc;
	margin-top: 5%;
	margin-bottom: 5%;
}

.request_processed {
	float: left;
	height: auto;
	width: 100%;
}

.request_processed p {
	text-align: left;
	font-family: sans-serif;
	font-weight: lighter;
	margin-top: 5%;
	color: #4D85C4;

}

#customerFrm .customer_frm_input{
	background-color: #fff;
	border: 1px solid #fff;
	width: 64%;
	outline: none;
	font-family: sans-serif;
	font-weight: bold;
	color: #666;
	font-size: 0.9em;
	padding-left: 1%;
}

.fields .label1 {
	float: left;
	width: 50%;
	height: 20px;
	font-weight: lighter;
	font-family: sans-serif;
	/*text-align: center;*/
}

.customer_form_fields {
	margin-bottom: 5%;
	margin-top: 5%;
	margin-left: 3%;
}

.label_form_cst {
	float: left;
	width: 30%;
	margin-top: 8px;
	font-weight: lighter;
	font-family: sans-serif;
}

.customer_label_id {
	font-family: sans-serif;
	font-size: 1em;
	font-weight: lighter;

}

.orderholder form .ol_content {
	/*float: left;*/
	color: #777;
	/*height: 25px;*/
	/*width: 33.3333%;*/
	display: inline-block;
	font-weight: lighter;	
	font-family: sans-serif;
	/*text-align: center;*/
	
}

.ol_pulled_content {
	font-family: sans-serif;
	color: #666;
	font-size: 1.3em;
}

.order_id_ol_content, .order_date_ol_content, .order_total_ol_content {
	font-weight: bold;
	margin: 1.5% 0 7% 0;
}

.order_total_ol_content {
	font-size: 2.6em;
}

.table_complete {
	font-size: 2em;
	font-weight: normal;
}

.table_complete span {
	font-weight: bold;
}

#ol_content_container {
	padding-top: 2%;
}

a#nav2:link, a#nav2:active, a.nav2#visited {
	display: inline-block;
	float: left;
	height: 85px;
	color: #FFF;
	padding-top: 15px;
	width: 25%;
	margin-left:37.5%;
	margin-bottom:25px;
	background-color: #F00;
	border-bottom: 1px solid #FFF;
	-moz-border-radius: 10px;
	border-radius: 10px;
	text-align: center;
}

.ordermenu {
	border-bottom: 0;
	/*margin-left: 2%;*/
}
.ordermenu .ordermenu_list {
	display: none;
	width: 100%;
	height: auto;
	margin: 0px;
	padding: 0px;
	float: left;

}
.ordermenu a.op {

	float: left;
	width: 47%;
	color: #4d4d4d;
	display: block;
	background-color: #B3B2B2;
	text-decoration: none;
	font-family: sans-serif;
	font-weight: normal;
	font-size: 0.9em;
	padding: 2% 0 3% 2%;
	border-radius: 4px;
	margin: 1% 0.5%;
	height: 39px;
	line-height: 20px;
	word-wrap: break-word;

}

.ordermenu a.myorder {
	display: block;
	float: left;
	width: 98%;
	color: #4d4d4d;
	font-weight: bold;
	display: block;
	background-color: #B3B2B2;
	text-decoration: none;
	font-family: sans-serif;
	font-weight: lighter;
	padding: 4% 0;
	padding-left: 2%;
	border-radius: 4px;
	margin: 1% 0;
}


.ordermenu a#pull, .ordermenu a#push_down {
	display: block;
	background-color: #6F7780;
	width: 98%;
	/* height: 35px; */
	color: #FFF;
	text-decoration: none;
	font-weight: lighter;
	padding: 4% 0;
	line-height: 23px;
	padding-left: 2%;
	position: relative;
	clear: both;
	font-family: sans-serif;
	border-radius: 4px;

}

.ordermenu a#pull:after, .ordermenu a.push_down:after {
	content: "";
	margin-top: -1%;
	margin-right: 3%;
	display: inline-block;
	position: absolute;
	/*background-color: #009;*/
	background-repeat: no-repeat;
	right: 0px;
	height: 0;
	width: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #efefef;
}

.ordermenu a.push_down:after {

	margin-top: 1% !important;
}


.reportmenu {
	border-bottom: 0;
	/*margin-left: 2%;*/
}
.reportmenu .reportmenu_list {
	display: none;
	width: 100%;
	height: auto;
	margin: 0px;
	padding: 0px;
	float: left;

}
.reportmenu a.op {

	float: left;
	width: 47%;
	color: #4d4d4d;
	display: block;
	background-color: #B3B2B2;
	text-decoration: none;
	font-family: sans-serif;
	font-weight: normal;
	font-size: 0.9em;
	padding: 2% 0 3% 2%;
	border-radius: 4px;
	margin: 1% 0.5%;
	height: 39px;
	line-height: 20px;
	word-wrap: break-word;

}
.reportmenu a#pull {
	display: block;
	background-color: #6F7780;
	width: 98%;
	/* height: 35px; */
	color: #FFF;
	text-decoration: none;
	font-weight: lighter;
	padding: 4% 0;
	line-height: 23px;
	padding-left: 2%;
	position: relative;
	clear: both;
	font-family: sans-serif;
	border-radius: 4px;

}
.reportmenu a#pull:after {
	content: "";
	margin-top: -2%;
	margin-right: 3%;
	display: inline-block;
	position: absolute;
	/*background-color: #009;*/
	background-repeat: no-repeat;
	right: 0px;
	height: 0;
	width: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #efefef;
}
#push_up {
	background-color: #4D4D4F;
	color: #fff;
	text-align: center;
	padding-top: 4%;	
	padding-bottom: 1%;
	font-weight: bold;
}

#basket_order_menu img {
	width: 25px;
	vertical-align: text-bottom;
}


#menuCat {
	float: left;
	height: auto;
	width: 100%;
	margin-top: 10px;
	/*margin-left: 2%;*/

}
#menuCat .menuHeading {
	float: left;
	height: 35px;
	width: 100%;
	padding-top: 15px;
	display: block;
	font-family: sans-serif;
	font-weight: lighter;

}
#menuCat .menuDescription {
	float: left;
	height: auto;
	width: 70%;
	margin-top: 10px;
	display: block;
}
#menuHolder {
	display: block;
	float: left;
	height: auto;
	width: 100%;
	margin-top: 20px;
	border-bottom: 1px solid #3E0038;
	padding-bottom: 4%;
	/*margin-left: 2%;*/

}
#menuHolder .prodName {
	display: block;
	float: left;
	/*height: 30px;*/
	/*width: 65%;*/
	color: #3E0038;
	font-family: sans-serif;
	font-weight: bold;
	padding-left: 2%;

}
#menuHolder .prodPrice {
	display: block;
	float: left;
	font-family: sans-serif;
	font-weight: lighter;
	font-size: 0.9em;
	color: #3E0038;
	padding-left: 2%;
}
#menuHolder .prodAdd {
}

#menuHolder .prodAdd:hover {
}

#menuHolder .prodAdd a {
	text-decoration: none;
	font-size: 2.5em;
	font-weight: bold;
	color: #fff;
	/* margin-top: -10%; */
	float: right;
	display: inline-block;
	-moz-border-radius: 42px;
	-webkit-border-radius: 42px;
	border-radius: 42px;
	padding: 1% 3%;
	text-decoration: none;
	background-color: #77d42a;
}



#menuHolder .prodAdd a:hover {
	background-color:#5cb811;
}

#add_prod, #dec_prod, #del_prod {
	text-decoration: none;
	font-family: sans-serif;
	font-size: 1.8em;
	font-weight: bold;
	color: #fff;
	padding: 6% 10%;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	display: inline-table;
}

#add_prod{ 
	margin-right: 3%;
	background-color: #77d42a;

}

#add_prod:hover { 
	background-color: #5cb811;
}

#dec_prod{
	font-family: sans-serif;
	margin-right: 3%;
	background-color: #E49837;
	padding: 5% 11%;
} 


#dec_prod:hover {
	background-color: #C36F39;
}

#del_prod {
	font-weight: lighter;
	background-color: #bf134e	;

}

#main_content > div.Order_complete > div > form > .continue_button input {
	padding: 5% 0;
	border: 0;
	width: 98%;
	outline: 0;
	-webkit-border-radius: inherit;
	border-bottom-radius: inherit;
	-webkit-appearance: none;
	-moz-appearance: none;
	cursor: pointer;
	z-index: 2;
	background: #94C01E;
	color: #fff;
	font-family: sans-serif;
	font-weight: lighter;
	text-align: center;
	box-shadow: none;
	text-shadow: none;
	border-radius: 4px;
	margin: 5% 0;
	font-size: 1.2em;
}

#main_content > div.Order_complete > div > form > .continue_button input:hover {
	color: #4D4D4F;
}

#menuHolder .prodlDesc {
	display: block;
	/*float: left;*/
	height: auto;
	width: 70%;
	font-family: sans-serif;
	font-weight: lighter;
	font-size: 0.8em;
	color: #3E0038;
	padding-left: 2%;
	margin-top: 4%;


}
#menuHolder .prodsDesc {
	display: block;
	float: left;
	/*height: 30px;*/
	width: 19%;

}

#clientOrder {
	float: left;
/* height: 40px; */
/* padding-top: 10px; */
width: 69%;
display: block;
/* margin-top: 10px; */
/* font-size: 18px; */
font-weight: bold;
font-size: 1.4em;
color: #777;
font-family: sans-serif;
margin-bottom: 2%;
}

.greylinethick {
	position: relative;
	background-color: #aaa;
	height: 7px;
	width: 100%;
	display: inline-block;
	margin: 3% 0 5% 0;

}

/* Welcome page - client side*/

.ui-shadow-inset { 
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0);
	box-shadow: inset 0 1px 3px rgba(0,0,0,0);
}

#clientOrderBtn {
}

#clientOrderBtn input[type="submit"] {
	color: #ffffff;
	background-color: #7F8C8D;
	padding: 5% 0;
	width: 100%;
	font-size: 0.9em;
	border: 1px solid transparent;
	border-radius: 6px;
	cursor: pointer;
	font-size: 1.15em;
	font-weight: lighter;

}

#main_content > div.Order_discount input {
	width: 96%;
	/* margin-left: 2%; */
	padding: 3% 2%;
	border: 1px solid #ccc;
	margin-top: 3%;
}

#clientOrderBtn input[type="submit"]:hover {
	color: #ffffff;
	background-color: #95A5A6;
/*border-color: #415b76;*/
}

#title {
	font-family:sans-serif;
	font-size: 2em;
	font-weight: lighter;
	color: #174E62;
	text-align: center;
	margin-bottom: 5%;
}

#welcome_body_text {
	margin-bottom: 10%;
}

#welcome_body_text p {

	font-family: sans-serif;
	font-size: 1em;
	font-weight: lighter;
	text-align: justify;
	line-height: 1.5em;

}

#welcome_page_client_facing .continue_button {
	padding: 5% 0;
	border: 0;
	outline: 0;
	-webkit-border-radius: inherit;
	border-bottom-radius: inherit;
	-webkit-appearance: none;
	-moz-appearance: none;
	cursor: pointer;
	z-index: 2;
	background: #94C01E;
	color: #efe;
	font-family: sans-serif;
	font-weight: lighter;
	text-align: center;
	box-shadow: none;
	text-shadow: none;
	border-radius: 4px;
}

#login > div.messages_activation > div.normal_message_activation > a {
	text-decoration: none;
	color: #efe;	

}


#login > div.messages_activation > div.normal_message_activation > a:hover > div {
	color: #174E62;
}


#welcome_continue { 
	display: block;
}

#welcome_page_client_facing > div.welcome_page_text > a {
	text-decoration: none;
	color: #efe;
}

#welcome_page_client_facing > div.welcome_page_text > a:hover > div {
	color: #174E62;
}

/*Login Page Client*/

#login-page-text {
	margin-bottom: 10%;
}

#login-page-text p {

	margin-top: 5%;
	font-family: sans-serif;
	font-weight: lighter;

}

#flash, #flash_dec, #flash_rem {
	position:fixed; 
	width:100%; 
	background-color: #9AC25C; 
	bottom:0px;
	left: 0px;
	padding: 2% 0%;
	text-align: center;
	font-family: sans-serif;
	font-weight: lighter;
	font-size: 2em;
	color: #efe;
	display: none;
}

#flash_dec {
	background-color: #E49837;
	color: #fff;
}

#flash_rem {
	background-color: #bf134e;
	color: #fff;

}

.Order_complete {
	text-align: left;
	padding-left: 2%;
	font-family: sans-serif;
	font-weight: lighter;
	font-size: 0.9em;
	color: #4D4D4F;
	float: left;
	height: auto;
	width: 100%;
	display: block;
}


.Order_discount {
	text-align: center;
	float: left;
	height: auto;
	width: 100%;
	display: block;
}

.basket_icon {
	float: right;
	font-size: 40%;
	font-weight: lighter;
	font-family: sans-serif;
	margin-bottom: 5%;
}

.basket_icon img {
	vertical-align: text-bottom;
}
.ActiveTabReport {
	margin-left: 0.5%;
	border-bottom-color: #7F8C8D;
	font-family: sans-serif;
	font-weight: lighter;
	color: #777;
}

.tablet_info_id { 
	float: left;
	padding-left: 2%;
	width: 48%;
}

.tablet_info_id .activeTabblock, .order_info_tablet .activeTabblock  {
	margin-top: 5%;
}

.tablet_info_id .activeTabblock:first-child, .order_info_tablet .activeTabblock:first-child{
	margin-top: 0;
}

.tablet_info_id .tablet_info, .order_info_tablet .order_info{
	font-weight: bold;
	font-size: 1.3em;
}

.order_info_tablet .ordering, .tablet_info_id .ordering {

	font-size: 1.8em;
 	color: #2980B9;

}

.tablet_info_id .ordering  {
	font-size: 2.6em;
}

.order_info_tablet {
	float: right;
	width: 48%;
}

.session_tablet_report {
	padding-left: 2%;
}

.session_tablet_report .activeTabblock {
}

.session_tablet_report > div {
	margin: 0;
}

.session_tablet_report .session_tab{ 
	font-weight: bold;
	/*color: #7F8C8D;*/
	font-family: sans-serif;
	margin-top: 1%;
}



.collect_tablet input[type="submit"] {
	color: #ffffff;
	background-color: #2C3E50;
	padding: 5% 0;
	width: 100%;
	font-size: 0.9em;
	border: 1px solid transparent;
	border-radius: 6px;
	cursor: pointer;
	font-size: 1.15em;
	font-weight: lighter;
}

.collect_tablet input[type="submit"]:hover {
	color: #ffffff;
	background-color: #34495E;
}



.cashupWrapperHeading {
	float: left;
	width: 100%;
	height: auto;
	display: block;
	margin-top: 20px;
}
.cashupWrapperHeading .cashupBlockHeading {
	float: left;
	height: auto;
	width: 12.5%;
	display: inline-block;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}
.cashupWrapperContent {
	display: block;
	float: left;
	width: 100%;
	margin-top: 10px;
}
.cashupWrapperContent .cashupBlockContent {
	text-align: center;
	display: inline-block;
	float: left;
	height: auto;
	width: 12.5%;
}
.cashupWrapperBtn {
	display: block;
	float: left;
	height: auto;
	width: 100%;
	margin-top: 10px;
}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
#UserCart {
	/*float: left;*/
	height: auto;
	width: 100%;
	display: block;
	margin-top: 10px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 2%;
}
#UserCart #dishName {
	padding-left: 2%;
	float: left;
	font-family: sans-serif;
	width: 42%;
	font-weight: lighter;
	padding-top: 3%;
	display: inline-block;
	font-size: 1.3em;
	color: #4D4D4F;
}
#UserCart #quant {
	font-family: sans-serif;
	float: left;
	font-weight: lighter;
	width: 22%;
	padding-top: 3%;
	font-size: 1.3em;
	color: #4D4D4F;
	display: inline-block;
	padding-left: 3%;
}

.quantity_cart {
	font-weight: bold;
}

#UserCart #cost {
	/*font-size: 18px;*/
	font-weight: bold;
	display: inline-block;
	/*float: left;*/
	/*height: 30px;*/
	width: 31%;
	padding-top: 10px;
}

#cartMsg {
	font-family: sans-serif;
	padding-top: 5%;
	font-weight: lighter;
	padding-left: 2%;
}

#cartMsg h3 {
	font-size: 1.8em;
	margin-bottom: 3%;
	color: #3E0038;
}

#usertotal {

	display: block;
	padding-left: 2%;
	float: right;
	/* width: 98%; */
	margin-top: 4%;
	/*padding-top: 2%;*/
	padding-bottom: 3%;
	font-family: sans-serif;
	font-size: 1.5em;
	font-weight: lighter;
	color: #4D4D4F;
}

.user_total_bill {
	font-weight: bold;
}

.table_order_total {
	font-size: 1em;
}

#user_name_total {
	font-family: sans-serif;
	font-weight: lighter;
	color: #3E0038;
	font-size: 1em;
	display: inline-block;
	padding-top: 4%;
}

.table_total {
	font-weight: bold;
	float: right;
	margin-top: 5%;
}

/*Table order part*/

#table_order {
	font-family: sans-serif;
	font-size: 1.1em;
}

#table_order_title h2 {
	font-weight: lighter;
	font-family: sans-serif;
	font-size: 1.5em;
	padding-left: 2%;
	margin-bottom: 3%;
	color: #174E62;
}


#table_order_section {
	padding-left: 2%;
	border-bottom: 1px solid #999;
	padding-bottom: 2%;
	padding-top: 2%;
}

#table_order_section > div {
	display: inline-table;
	color: #4D4D4F;
	font-weight: lighter;
	font-size: 0.9em;
}	

#cost_table {
	width: 20% !important;
}

#dish_name_table {
	width: 40%;
}

#nettotal, #discounttotal, #grandtotal {
	font-size: 24px;
	/*float: right;*/
	height: 40px;
	/*width: 98%;*/
	margin: 3%;
	font-family: sans-serif;
	color: #777;
	font-weight: lighter;
	/*padding-right: 2%;*/
}

#grandtotal {
	width: 100%;
	margin-left: -4%;
}

.active_client {
	font-family: sans-serif;
	padding-left: 2%;
	color: #777;
	font-weight: lighter;
	margin-top: -5%;
	margin-bottom: 7%;
	font-size: 1.15em;
}

#do_activation_code {
	font-size: 0.8em;
	color: #666;
	font-weight: bold;
}

#clientOrderBtn > form > div {
	margin-top: -7%;
	width: 100%;

}

#total_do_staff {
	float: right;
	margin-top: 3%;
}

.dp_or_staff {
	font-size: 1.4em;
	color: #666;
	font-weight: bold;
}

/* Welcome page - client side*/

.welcome_page_text { 

}

.ui-shadow-inset { 
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0);
	box-shadow: inset 0 1px 3px rgba(0,0,0,0);
}

.ui-input-text input {
	box-shadow: none;
	border: 1px solid #fff;
	text-align: left;
	font-family: sans-serif;
	font-weight: lighter;
	font-size: 1.3em;
}


/*Customer confirmation */

.prod_name_conf, .prod_quant_conf {
	display: inline-table;
	margin: 1% 0;
	color: #666;
	font-size: 1.2em;
	font-weight: bold;
}

.display_order_tbl {
	margin-top: 1%;
}

#takeawaymenuOption {
	margin-bottom: 4%;
}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {

.gridContainer {
	width: 91.45%;
	padding-left: 0.775%;
	padding-right: 0.775%;
}

}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
.gridContainer {
	width: 88.7142%;
	max-width: 1232px;
	padding-left: 0.6428%;
	padding-right: 0.6428%;
	margin: auto;
}

}


/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

/*@media only screen and (min-width: 481px) {

.gridContainer {
	width: 91.45%;
	padding-left: 0.775%;
	padding-right: 0.775%;
}

}*/

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

/*@media only screen and (min-width: 769px) {
.gridContainer {
	width: 88.7142%;
	max-width: 1232px;
	padding-left: 0.6428%;
	padding-right: 0.6428%;
	margin: auto;
}

}*/
