@font-face {
  font-family: 'genius';
  src: url('fonts/genius_font/29BA0D_0_0.eot');
  src: url('fonts/genius_font/29BA0D_0_0?#iefix') format('embedded-opentype'),
       url('fonts/genius_font/29BA0D_0_0.woff') format('woff'),
       url('fonts/genius_font/29BA0D_0_0.ttf') format('truetype');
}

@font-face {
  font-family: 'znikomit';
  src: url('fonts/znikomit_font/Znikomit.ttf.eot');
  src: url('fonts/znikomit_font/Znikomit.ttf.eot?#iefix') format('embedded-opentype'),
       url('fonts/znikomit_font/Znikomit.ttf.woff') format('woff'),
       url('fonts/znikomit_font/gr_001_02-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'ostrich_sans';
  src: url('fonts/ostrich_font/ostrich-bold-webfont.eot');
  src: url('fonts/ostrich_font/ostrich-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/ostrich_font/ostrich-bold-webfont.woff') format('woff'),
       url('fonts/ostrich_font/ostrich-bold-webfont.ttf') format('truetype');
}

@charset "UTF-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/* Mobile Layout: 480px and below. */

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 87.9666%;
	padding-left: 1.5166%;
	padding-right: 1.5166%;
	height: auto;
}
#Header {
	clear: left;
	float: left;
	width: 100%;
	height: 100px;
}

#header_top { 
	padding: 2%;
	/*height: 20px;*/
	width: 100%;
	background-color: #606473;
	clear: both;
}

#header_top h1 {
	font-family: 'genius';
	font-size: 90%;
	color: #efefef; 

}
#heading h2 { 
	font-family: sans-serif;
	font-weight: lighter;
	font-size: 85%;
	margin-top: 0.8%;
	padding-left: 1.2%;
	color: #666;
}

#heading h3 {
	font-family: 'genius';
	font-size: 1.3em;
	margin-top: 1%;
	color: #999;
	margin-left: 1.2%;
	float: right;
}

.title {
	font-family: 'genius';
	font-size: 250%;
	margin-bottom: 5%;
	color: #888;
	margin-left: 1.2%;
}

.titles {
	font-size: 16px;
	font-weight: bold;
	width: 100%;
	margin-bottom: 10px;
	margin-top: 2%;
}

#logo img {
	width: 60%;
}

/*.head01 {
	float: left;
	height: 100px;
	width: 60%;
	display: inline-block;
}*/
.head02 {
	/*display: inline;*/
	font-size: 75%;
	float: right;
	border-radius: 20px; 
	background-color: #bf134e;
	padding: 1%;

	margin-top: 1.5%;
	/*width: 40%;*/
	/*text-align: right;*/
	/*height: 10px;*/
	/*padding-top: 80px;*/
}

.head02 h6 { 
	color: #efefef;
	font-family: 'genius';
	margin: 0;
	text-align: center;
	margin-top: 0.5%;

}

.f01 {
	display: inline-block;
	float: left;
	height: 50px;
	width: 100%;
	margin-top: 10px;
}

.f01 h6 {
	font-family: sans-serif;
	font-weight: lighter;
	font-size: 80%;
	padding-top: 62.8%;
	padding-left: 1%;
	color: #666;
}

#footer_color { 
	background-color: #606473;
	clear: both;
	padding: 1%;
	margin-top: 5%;
}

#footer_color h6 {
	font-family: 'genius';
	font-size: 75%;
	color: #efefef; 
	padding: 0;
}

.pm_font { 
	font-family: 'ostrich_sans';
	font-size: 130%;
	font-weight: lighter;
}

#login {
	text-align: center;
	clear: left;
	float: left;
	height: auto;
	width: 80%;
	padding-left: 10%;
}
.buttons .button {
	width: 76%;
	margin-top: 5%;
	font-family: 'genius';
	font-size: 200%;
	background: #94C01E;
	border: 1px solid #94C01E;
	color: #efefef;
	padding: 2% 3% 1%;
	border-radius: 8px;
	outline: none;
}

.buttons .button:hover, .buttons .button:focus {
  background:#94C01E;

  /* CSS3 Styling */
  background:-moz-linear-gradient(top, #94C01E, #789035);
  background:-webkit-gradient(linear, left top, left bottom, from(#94C01E), to(#789035));
  -moz-box-shadow:0px 0px 1px #94C01E;
  -webkit-box-shadow:0px 0px 1px #94C01E;
  box-shadow:0px 0px 1px #94C01E;
}	

.buttons .button:active
{		
    outline: none;

    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;		
}

.buttons .button:-moz-focus-inner
{
    border: none;
}


.buttons .button2 {
	height: 50px;
	width: 35%;
	margin-top: 10px;
	margin-left:10%;
	float:left;
}
.buttons .button3 {
	height: 50px;
	width: 35%;
	margin-top: 10px;
	margin-left:10%;
	float:left;
}
.buttons .button4 {
	height: 50px;
	width: 28%;
	margin-top: 10px;
	margin-left:4%;
	float:left;
}
.fields .field1 {
	width: 70%;
	font-family: 'genius';
	font-size: 200%;
	padding: 2% 3%;
	outline: none;
	margin-top: 3%;
	background-color: #6F7780;
	color: #efefef; 
  border: 2px solid #6F7780;

  /* Round Borders */
  border-radius: 8px;
  -moz-border-radius: 8px; /*Round Borders for Mozilla */
  -webkit-border-radius: 8px; /*Round Borders for Chrome and Safari */

  text-align: center;
}


.fields .field2 {
	height: 50px;
	width: 68%;
	padding-top: 10px;
	padding-left: 2%;
	margin-top: 10px;
	float:left;
}
.fields .field3 {
	height: 50px;
	width: 33%;
	padding-top: 10px;
	margin-top: 10px;
	float: left;
}
.fields .field4 {
	height: 50px;
	width: 49%;
	padding-top: 10px;
	margin-top: 10px;
	float: left;
}

#main_content { 
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	height: auto;
	margin-top: 20%;
}

#Navigation {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	height: auto;
}
#navList {
	display: inline-block;
	height: auto;
	list-style-type: none;
	width: 100%;
	float:left;
	padding:0;
}

a#nav1 {
	float: left;
	font-family: 'genius';
	color: #efefef;
	padding: 4.5% 1%;
	width: 42%;
	margin-left: 2.25%;
	margin-bottom: 2.5%;
	margin-top: 2.5%;
	background-color: #B3B2B2;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-decoration: none;
	text-align: center;
}

a#nav1:hover { 

	background-color: #868686;

}

a#nav1 li {
	font-size: 1.3em;
}

#top_action_bar { 
	border-bottom: 1px solid #ccc;
	position: relative;
	margin-top: 3%;
	margin-bottom: 5%;
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: inline-block;
	height: auto;
	padding: 1% 0% 2%;

}

.gaylord_name {
	float: left;
	width: 70%;

}

.logout_button {
	float: right;
	width: 13%;
	margin-top: 1%;
	/*margin-right: -38%;*/

}

.logout_button a { 
	text-decoration: none;
	border-radius: 20px; 
	background: #bf134e;
	padding: 14% 16%;
	color: #efefef;
	font-family: 'genius', sans-serif;
	font-size: .9em;
}

.gaylord_name h3 {
	font-family: 'znikomit', serif;
	font-size: 1.5em;
	color: #bf134e;
	letter-spacing: -1px;

}

.gaylord_name h3 span {
	font-size: 0.7em;
	vertical-align: super;
}

/*a#nav1:link, a#nav1:active, a.nav1#visited {
	display: inline-block;
	float: left;
	height: 85px;
	color: #FFF;
	padding-top: 15px;
	width: 25%;
	margin-left:6.25%;
	margin-bottom:25px;
	background-color: #0099FF;
	border-bottom: 1px solid #FFF;
	-moz-border-radius: 10px;
	border-radius: 10px;
	text-align: center;
}*/
.orderholder {
	clear: both;
	float: left;
	height: 200px;
	width: 100%;
	margin-top: 15px;
	background-color: #9CF;
}
.orderholder form .ol_title {
	float: left;
	height: 25px;
	width: 100%;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}
#customerFrm {
	float: left;
	height: auto;
	width: 100%;
	margin-top: 10px;
	background-color: #9CF;
}
.fields .label1 {
	float: left;
	width: 50%;
	height: 20px;
	margin-top: 10px;
	font-weight: bold;
	text-align: center;
}
.orderholder form .ol_content {
	float: left;
	height: 25px;
	width: 33.3333%;
	display: inline-block;
	clear: right;
	font-weight: bold;
	text-align: center;
}
a#nav2:link, a#nav2:active, a.nav2#visited {
	display: inline-block;
	float: left;
	height: 85px;
	color: #FFF;
	padding-top: 15px;
	width: 25%;
	margin-left:37.5%;
	margin-bottom:25px;
	background-color: #F00;
	border-bottom: 1px solid #FFF;
	-moz-border-radius: 10px;
	border-radius: 10px;
	text-align: center;
}


/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {

.gridContainer {
	width: 91.45%;
	padding-left: 0.775%;
	padding-right: 0.775%;
}

}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
.gridContainer {
	width: 88.7142%;
	max-width: 1232px;
	padding-left: 0.6428%;
	padding-right: 0.6428%;
	margin: auto;
}

}
